data/*.db
data/*.jz
data/*.db*
data/*.gz
data/*.gob
data/*.json
data/*.tmp
data/facets/*
data/items/*
data/content/*
data/current
data/*.dbz
data/carts/
__debug*
startup.prof
.DS_Store
facet-search
slask-finder.exe
clickhouse
.env
slask-finder
data/embeddings.gob.gz
data/se/facets.json
